body {
    background-color: blanchedalmond;
}

.teorema blockquote:before {
    content: '“';
    width: 25px;
    height: 25px;
    margin-left: -20px;
    margin-top: -10px;
    float: left;
    opacity: 1;
}

*, :after, :before {
    box-sizing: border-box;
}